.social {
    background: white;
    padding: 20px;
}

.socialLink,
.handle,
.color {
    transition: all 0.3s;
}

.handle {
    color: darkgray;
    display: block;
    margin: 0 -50px;
}

.socialLink {
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    margin: 0 10px;

    &::before {
        display: none;
    }

    & svg {
        width: 30px;
        height: 30px;
    }

    &:not(:hover) {
        & .handle {
            opacity: 0;
        }

        & .color {
            fill: lightgray !important;
        }
    }
}
