.header {
    background: linear-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 80%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    @media (--md-viewport) {
        position: static;
        margin: 30px 0;
    }
}

.opaque {
    background: rgba(255, 255, 255, 1);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px; /* 40px per link */
    transition: all 0.3s;

    @media (--under-md-viewport) {
        background: white;
        align-items: flex-start;
        padding: 0 85px 20px;

        &:not(.openNav) {
            height: 0;
            opacity: 0;
            padding-bottom: 0;
        }
    }

    @media (--md-viewport) {
        flex-direction: row;
        height: auto;
        width: 45%;
        max-width: 400px;
        margin: 0 auto;
    }
}

.menuToggle {
    background: gold;
    border-width: 0 6px 6px;
    border-style: double;
    border-color: lemonchiffon;
    box-shadow: 0 0 5px 1px var(--shadow-color);
    height: 60px;
    width: 50px;
    margin: 0 10px;
    padding: 20px 0 0;
    outline: 0;

    & svg {
        fill: ivory;
    }

    @media (--md-viewport) {
        display: none;
    }
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.active::before {
    width: 100%;
}

.meow {
    font-size: 50px;
    text-decoration: none;
    padding: 10px 10px;

    &::before {
        display: none;
    }

    @media (--md-viewport) {
        position: absolute;
        top: 7px;
        left: 40px;
    }
}
