.favorites {
    & .ace-line ul {
        max-width: 70%;
        margin-left: 15% !important;

        @media (--lg-viewport) {
            max-width: 50%;
            margin-left: 33% !important;
        }

        & li {
            text-align: left;
        }
    }
}
